@font-face {
    font-family: 'Proxima Nova Condensed';
    src: local('Proxima Nova Condensed Regular'), local('Proxima-Nova-Condensed-Regular'),
        url('ProximaNovaCond-Regular.woff2') format('woff2'),
        url('ProximaNovaCond-Regular.woff') format('woff'),
        url('ProximaNovaCond-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }