// Container
.wrapper {
	max-width: 1250px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: ($containerWidth + $containerPadding) + px;
	width: 100%;
	margin: 0 auto;
	padding: 0 $containerSidePadding + px;

	@media (max-width: $pc) {
		max-width: 1200px;
	}

	@media (max-width: $tablet) {
		max-width: 970px;
	}

	@media (max-width: $mobile) {
		max-width: 740px;
	}

	@media (max-width: $mobileSmall) {
		max-width: none;
	}
}
html {
	// Плавный скролл
	scroll-behavior: smooth;
}
// Body Locked
body {
	color: $colorBlack;

	&.locked {
		overflow: hidden;
	}
}

/*========= SCROLL UP ==========*/
.scrollup {
	position: fixed;
	padding: 10px;
	right: 20px;
	bottom: -30%;
	display: inline-flex;
	background-color: $colorBlueDark;
	font-size: 20px;
	z-index: 1;
	color: red;
	border: 1px solid $colorRed;
	transition: 0.3s;
}
.scrollup:hover {
	transform: translateY(-5px);
}
/* Show Scroll Up */
.show-scroll {
	bottom: 20px;
}

// Animations
// Fade
@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
