// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1110;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);
$pc: 1449.98 + px;
$tablet: 991.98 + px;
$mobile: 767.98 + px;
$mobileSmall: 479.98 + px;

// Burger Menu
// $burgerBreakpoint: $breakpoint992;
// $burgerColor: #fff;
// $burgerActiveColor: #fff;

// Fonts
$fontProximaNova: 'Proxima Nova';
$fontProximaNovaCon: 'Proxima Nova Condensed';

// Main Colors
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGray: #444444;
$colorBlueDark: #2D3653;
$colorRed: #B01736;
$colorRedAlt: #A30C33;
$colorRedAlt2: #CB0F41;
$colorRedHover: #D43152;